/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'GATK4_PREPROCESSINTERVALS' {
        ext.args = "--bin-length ${params.bin_length} --padding ${params.padding} --interval-merging-rule OVERLAPPING_ONLY"
        publishDir = [
            path: { "${params.outdir}/intervals" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_COLLECTREADCOUNTS' {
        ext.args = '--format HDF5 --interval-merging-rule OVERLAPPING_ONLY'
        publishDir = [
            path: { "${params.outdir}/counts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CREATEREADCOUNTPANELOFNORMALS' {
        container = 'docker.io/broadinstitute/gatk:4.6.2.0'
        publishDir = [
            path: { "${params.outdir}/pon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
